:root {
    --text-color: #CDA274;
    --title-color: #292F36;
    --accent-color: #4D5053;
    --desk-color: #FFF;
    --background-color: #F4F0EC;
    --border-color: #E7E7E7;
}

.container {
  width: 1240px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
  outline: 1px solid red;
}

body {
    font-family: "Jost";
}

.header {
    padding-top: 26px;
    padding-bottom: 30px;
}

.header-nav {
margin-left: auto;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    color: var(--title-color);
font-size: 19px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.4px;
}

.nav-link:hover, .nav-link:focus {
    color: var(--text-color);
}

.current {
    color: var(--text-color);
}

.hero {
    padding-top: 188px;
    padding-bottom: 260px;
    background-image: url(../img/hero-fons.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 80px;
font-weight: 400;
line-height: 1.2;
letter-spacing: 0.22px;
margin-bottom: 19px;
width: 595px;
}

.hero-text {
    color: var(--accent-color);
font-size: 22px;
font-weight: 400;
line-height: 1.5px; 
letter-spacing: 0.22px;
margin-bottom: 30px;
}
.hero-desk {
    color: var(--accent-color);
font-size: 22px;
font-weight: 400;
line-height: 1.5px; 
letter-spacing: 0.22px;
margin-bottom: 40px;
}

.hero-btn {
    color: var(--desk-color);
font-size: 18px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.72px;
border: 0;
border-radius: 12px;
padding: 22px 67px 22px 34px;
background-image: url(../img/hero-btn.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.design {
    padding-top: 175px;
    padding-bottom: 170px;
    text-align: center;
}

.design-list {
    display: flex;
    justify-content: center;
}

.design-item {
    padding-top: 75px;
    padding-bottom: 70px;
}

.design-title {
    color: var(--title-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 25px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.22px;
}

.design-text {
    color: var(--accent-color);
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.22px;
margin-top: 17px;
margin-bottom: 68px;
width: 317px;
margin-right: 41px;
margin-left: 42px;
}

.dekor {
    width: 297px;
    margin-bottom: 35px;
    margin-right: 51px;
    margin-left: 52px;
}

.curant {
    width: 296px;
    margin-bottom: 35px;
}

.design-box {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.design-link {
    color: var(--accent-color);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.36px;
}

.project {
 padding-bottom: 177px;
}

.pro-box {
    display: flex;
}

.fon-box {
    padding-top: 40px;
    padding-bottom: 36px;
}

.projest-img {
    margin-left: auto;
}

.project-title {
    width: 450px;
color: var(--title-color);
font-family: "DM Serif Display";
font-size: 50px;
font-weight: 400;
line-height: 1.3;
letter-spacing: 0.22px;
margin-bottom: 42px;
}

.project-text {
    color: var(--accent-color);
font-size: 22px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
width: 531px;
margin-bottom: 40px;
}

.project-box {
    display: flex;
    align-items: center;
}

.project-link {
    color: var(--accent-color);
font-size: 24px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.22px;
margin-left: 20px;
}

.project-desk {
    color: var(--accent-color);
font-size: 22px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.22px;
margin-left: 20px;
}

.project-btn {
    color: var(--desk-color);
font-size: 18px;
font-weight: 400;
line-height: 1.5;
border: 0;
border-radius: 18px; 
padding: 21px 67px 23px 34px;
letter-spacing: 0.72px;
background-image: url(../img/project-btn.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
    margin-top: 50px;
}

.people {
    padding-top: 103px;
    padding-bottom: 121px;
    border-radius: 70px;
background: var(--background-color);

}

.people-title {
    color: var(--title-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 45px;
font-weight: 400;
line-height: 1.3; 
letter-spacing: 0.22px;
}

.people-title:nth-child(2) {
margin-bottom: 47px;
}

.people-list {
    display: flex;
    gap: 18px;
    justify-content: center;
}

.people-item {
    width: 354px;
height: 287px;
border-radius: 30px;
background: var(--desk-color);
padding: 50px 75px 45px 35px;
}

.people-item:nth-child(2) {
padding: 50px 63px 45px 35px;
}

.people-item:nth-child(3) {
padding: 50px 45px 45px 35px;
}

.people-box {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.text-box {
margin-left: 20px;
}

.people-img {
    border-radius: 100px;
}


.people-text {
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 25px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.22px;
}

.people-desk {
    color: var(--accent-color);
font-size: 18px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
}

.people-paragraph {
    color: var(--accent-color);
font-size: 20px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
width: 274px;
}

.icon {
    padding-top: 140px;
    padding-bottom: 114px;
}

.icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-item {
    margin-right: 125px;
}

.icon-item:nth-child(2) {
    margin-right: 110px;
}

.icon-item:nth-child(3) {
    margin-right: 89px;
}

.icon-item:nth-child(4) {
    margin-right: 112px;  
}

.icon-item:nth-child(5) {
    margin-right: 0px;
}

.card {
    padding-bottom: 140px;
}

.cart-title {
    color: var(--title-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 47px;
font-weight: 400;
line-height: 1.3;
letter-spacing: 0.22px;
margin-bottom: 20px;
}

.card-text {
    color: var(--accent-color);
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.22px;
}

.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 70px;
}

.card-item {
    flex-basis: calc((100% - 20px) / 2);
}

.card-item:nth-child(1) {
    margin-bottom: 41px;
}

.card-img {
    width: 100%;
}

.card-box {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.card-desk {
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 24px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
width: 325px;
margin-right: 190px;
}

.card-paragraph {
    color: var(--accent-color);
font-size: 22px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
}

.card-btn {
    border: 0;
    background-color: transparent;
    width: 70px;
}

.nambers {
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: var(--background-color);
}

.nambers-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.nambers-item {
    width: 288px;
    height: 195px;
    border-right: 1px solid var(--text-color);
}

.nambers-item:last-child {
border-right: 0;
}

.nambers-text {
    color: var(--text-color);
font-family: "DM Serif Display";
font-size: 85px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 1.7px;
text-align: center;
}

.nambers-desk {
    color: var(--accent-color);
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.22px;
}

.blogs {
    padding-top: 143px;
    padding-bottom: 141px;
}

.blogs-title {
    color: var(--title-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 48px;
font-weight: 400;
line-height: 1.3;
letter-spacing: 0.22px;
margin-bottom: 21px;
}

.blogs-text {
    color: var(--accent-color);
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.22px;
margin-bottom: 70px;
}

.blogs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.blogs-item {
    width: 387px;
    height: 515px;
border-radius: 62px;
border: 1px solid var(--border-color);
background-image: url(../img/kitchen.jpg);
background-repeat: no-repeat;
background-position: 21px 21px;
}

.blogs-desk {
    color: var(--accent-color);
    text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
padding: 10px;
width: 150px;
border-radius: 8px 8px 8px 0px;
background: var(--desk-color);
margin-top: 244px;
margin-left: 45px;
margin-right: 189px;
}

.blogs-paragraph {
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 25px;
font-weight: 400;
line-height: 1.4; 
letter-spacing: 0.5px;
margin-top: 45px;
margin-left: 21px;
margin-bottom: 34px;
}

.blogs-box {
    display: flex;
    gap: 149px;
    align-items: center;
    justify-content: center;
}

.blogs-tecst {
    color: var(--accent-color);
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.22px;
}

.blogs-btn {
    border: 0;
    background-color: transparent;
    width: 52px;
}

.blogs-img {
width: 52px;
}

.blogs-item:nth-child(2) {
background-image: url(../img/living-room.jpg);
background-repeat: no-repeat;
background-position: 21px 21px;
}

.blogs-item:nth-child(3) {
    background-image: url(../img/minimalist-interior.jpg);
    background-repeat: no-repeat;
background-position: 21px 21px;
}

.blogs-item:nth-child(4) {
    background-image: url(../img/citchen.jpg);
    background-repeat: no-repeat;
background-position: 21px 21px;
}

.blogs-item:nth-child(5) {
    background-image: url(../img/eats.jpg);
    background-repeat: no-repeat;
background-position: 21px 21px;
}

.blogs-item:nth-child(6) {
    background-image: url(../img/meenimalist.jpg);
    background-repeat: no-repeat;
background-position: 21px 21px;
}

.bath {
    padding-top: 100px;
    padding-bottom: 95px;
    border-radius: 70px;
background: var(--title-color);
}

.bath-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bath-title {
    color: var(--desk-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 50px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
}

.bath-text {
    color: var(--desk-color);
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
    margin-top: 9px;
    margin-bottom: 31px;
}

.bath-btn {
    color: var(--desk-color);
font-size: 18px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.22px;
width: 238px;
height: 71px;
border: 0;
padding: 0;
border-radius: 18px;
background-image: url(../img/bath-btn.png);
background-repeat: no-repeat;
background-position: center;
margin-right: auto;
margin-left: auto;
}

.footer {
    padding-top: 130px;
    padding-bottom: 36px;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-item:nth-child(1) {
    width: 393px;
}

.footer-text {
    color: var(--accent-color);
font-size: 22px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
width: 326px;
margin-top: 15px;
margin-bottom: 30px;
}

.footer-box {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer-title {
    color: var(--title-color);
font-family: "DM Serif Display";
font-size: 25px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
margin-bottom: 21px;
}

.footer-desk {
    color: var(--accent-color);
font-size: 22px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.22px;
}

.explore-link {
    color: var(--accent-color);
font-size: 22px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
}

.address-link {
    color: var(--accent-color);
font-size: 22px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;

}

.footer-dekor {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 211px;
}

.explore-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 211px;
}

.footer-adres {
    display: flex;
    gap: 29px;
    flex-direction: column;
    width: 397px;
}

.footer-line {
    width: 1240px;
    height: 1px;
    background: var(--accent-color);
    margin-right: auto;
    margin-left: auto;
    margin-top: 111px;
    margin-bottom: 35px;
}

.footer-paragraph {
    color: var(--accent-color);
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
}

.footer-span {
    color: var(--text-color);
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
}






